@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[#FFFDF3];
    background: #1A1A1E;
  }
}

body {
  background: #1A1A1E;
}

html {
  scroll-behavior: smooth;
}